html,body,table
{
    height: 100%;
    font-size: 18px;
    color: #000000;

}

.weekdays{
  border-bottom: 0px !important;
}

.reminder{
  position: absolute;
  width: 100%;
  top:40px;
  font-size: 12px;

  overflow: auto;
  height: 68%;

}

.rChild{

margin-bottom: 5px;
background-color: #3b9be4;
padding-left: 25px;
border-radius: 5%;
color: white;
font-weight: bold;
cursor: pointer;
}



.dim{
  color: #858585;

}



.firstrow{
  border-top: white !important;


}

table{
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
   top: 102px;
    bottom: 0;
     left: 0;
      right: 0;
}

table, th, td {

    border: 1px solid #dddddd;
    border-collapse:collapse;

    text-align: left;
}

th,td{
  border-bottom: white;
  width:14.2%;
  height: 300px%;
}


@media (max-width: 790px) {
    table{
      top:111px;
    }
}

#row{
  position:relative;

}

#rowspan{
  position: absolute;
  top:8px;
  left: 15px;
}

#rowspan2{
  top:0;
  left:0;
}
thead > tr > td {

padding-top: 7px;
padding-left: 7px;

height: 7px;;
}
