#buton{
  display: none;
}
 #myModal{
   margin-top: 180px;


 }



#tex{
   margin-top:24px;
   border: none;
   font-size: 24px;
   width:80%;
  height: 28px;
 }

.butonSet{
  margin-top: 7px;
  text-align: left;
  width:88%;
  margin-bottom: 28px;
}

.modalbtn{
  border-radius: 12px;
  margin-right: 8px;
  background-color: white;
  color: #757575;
  border: 1px solid #757575;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;

}



div > i{
  margin-top:3px;
  color: #757575;
}

.Ip{
    font-size: 15px;
    width: 130px;
    margin-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;

}

.tim{

  font-size: 15px;
  border: none;

}

.row{
  margin-bottom: 20px;
}

#Time1{
  display: none;
  height: 20px;
  margin-top: 2px;
}

#Time2{
  display: none;
  height: 20px;
  margin-top: 2px;
}

#decline{
  font-size: 15px;
  border: none;
  width: 350px;
}


@media  (max-width: 500px) {
  #decline{
    width: 250px;
  }

  .modalbtn{
    margin-bottom: 5px;
  }

}

@media  (max-width: 580px) {
.Ip{
  width: 90px;
}
.f{
  padding: 0px;
}
}

@media  (max-width: 430px) {
  .Ip{
    width: 68px;
  }
  .f{
    padding: 0px;
  }
  .tim{
    width:50px;
  }
}


@media  (max-width: 650px) {
  #lt{
    margin-left: 50px;
  }

}

@media  (max-width: 480px) {
  #lt{
    margin-left: 80px;
  }

}


#save{
  padding-left: 40px;
  padding-right: 40px;
background-color: #4285f4;

  display: flex;
  margin-left: auto;
}
