form{
  width: 30%;
  margin: auto;
  margin-top: 150px;
  border: 1px solid #6c757d;
  padding: 40px;
  padding-bottom: 0px;
  border-radius: 2px;
}

p{
  visibility:hidden;
  color:red;
  text-align: center;
  padding-top: 10px;
}

button{



width: 100%;
}

.g{
  display:none;
}

@media (max-width: 1100px) {
  form{
    width: 38%;
  }
}
@media (max-width: 900px) {
  form{
    width: 45%;
  }
}

@media (max-width: 750px) {
  form{
    width: 60%;
  }
}
